@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',
        sans-serif;
    ;
}

img {
    display: block;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 40px;
}

.links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: yellow 1px solid;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #1F2937;
}

.header__img img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 400px;
}

.about__h1 {
    color: #F9FAFA;
    font-weight: 900;
    font-size: 48px;
    line-height: 2.7rem;
}

.about__text {
    color: #E5E7EB;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
}

.companies__h1 {
    text-align: center;
    color: #1F2937;
    font-size: 38px;
    font-weight: 900;
    margin: 15px;
}

.companies {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    max-width: 200px;
    text-align: justify;
    font-size: 14px;
    border: #E5E7EB 1px solid;
    padding: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.ford {
    gap: 18px;
}